*.html linguist-detectable=false
*.html linguist-documentation=false

*.css linguist-detectable=false
*.css linguist-documentation=false

# *.ejs linguist-detectable=false
# *.ejs linguist-documentation=false