APP_MODE='development'
API_KEY='an-api-keu'
POSTGRES_DEV_URL="postgresql+psycopg2://username:password@host:port/database-dev"
POSTGRES_PROD_URL="postgresql+psycopg2://username:password@host:port/database-prod"
