# Security
API_KEY="an-api-key"
SECRET="replace-with-a-long-random-secret-at-least-32-chars"
ALGORITHM="HS256"

# Database
POSTGRES_URL="postgresql+psycopg2://username:password@host:port/database-dev"

# Sentry
SENTRY_DSN=""
