[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
