@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Lalezar&family=Meow+Script&family=Patrick+Hand&family=Vazirmatn:wght@300&display=swap");
.main {
  font-family: "Vazirmatn", sans-serif;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(-45deg, navy, #002fbd);
  background-size: 250% 250%;
  -webkit-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
  color: white;
}

.home .intro {
  text-align: center;
}

.home .intro .hello {
  font-family: 'Meow Script', cursive;
  font-size: 7rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.itext {
  color: navy;
}

.itext:hover {
  color: navy;
}

.iput {
  background: transparent !important;
  color: white !important;
}

.iput::-webkit-input-placeholder {
  color: white !important;
}

.iput:-ms-input-placeholder {
  color: white !important;
}

.iput::-ms-input-placeholder {
  color: white !important;
}

.iput::placeholder {
  color: white !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #000080;
}

.pointer {
  cursor: pointer;
}

.me {
  padding: 1rem;
  border-left: solid 2px navy;
  border-top: solid 2px navy;
}

ul {
  padding: 1rem;
  border-bottom: solid 2px navy;
  border-right: solid 2px navy;
}

ul li {
  list-style: none;
  cursor: pointer;
}

ul li:hover {
  font-size: 110%;
  color: black;
}

ul li small {
  color: navy;
}

.slide {
  height: 100vh;
  padding: 2rem;
}

.slide .slide-title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .slide-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */