// font-family: 'Boogaloo', cursive
// font-family: 'Lalezar', cursive
// font-family: 'Meow Script', cursive
// font-family: 'Patrick Hand', cursive
// font-family: 'Vazirmatn', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Lalezar&family=Meow+Script&family=Patrick+Hand&family=Vazirmatn:wght@300&display=swap')

body
    font-family: "Vazirmatn", sans-serif !important
    background: #d8d8d8

.boogaloo-font
    font-family: 'Boogaloo', cursive

.hello
    font-family: 'Meow Script', cursive
    font-size: 700%

.card-header
    background: #434C56
    color: white

.darkbluenavy-bg
    background: #434C56 !important

.darkbluenavy-td
    background: #434C56 !important
    color: white
    border-color: #434C56

.darkbluenavy-fore
    color: #434C56 !important

hr
    border-top: solid 1px #434C56 !important
