@font-face {
    font-family: 'helvetica';
    src: url('pack/font/helvetica.ttf');
}

/* Main div */
.main {
    font-family: "helvetica", sans-serif;
    user-select: none;
    color: black;
}


.welcome-image {
    height: 100vh;
    background: black;
}

.box-heading {
    font-size: 120%;
    font-weight: bold;
}