@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
    font-family: 'helvetica';
    src: url('./pack/font/helvetica.ttf');
}

/* Main div */
.main {
    font-family: "Merriweather", sans-serif;
    user-select: none;
}

.box-heading {
    font-size: 120%;
    font-weight: bold;
}

.xbox {
    margin: 1%;
    padding: 1%;
    font-size: 80%;
    /* height: 100%; */
}