<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amirhossein Mohammadi</title>
    <link rel="stylesheet" type="text/css" href="sass/style.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css" />
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NSPH53B9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D1NSPH53B9');
    </script>
</head>
<body class="main">
    <div class="home" id="home">
        <div class="intro">
            <h1 class="hello">hello</h1>
            <h5>I'm Amirhossein Mohammadi</h5>
            <p>Software developer</p>
            <hr>
            <small class="download"></small>
            <hr>
            <p class="access">
                <a href="#home" class="text-white">Home</a>
                |
                <a href="#intro" class="text-white">Introduction</a>
                |
                <a href="#skills" class="text-white">Skills</a>
                |
                <a href="#activities" class="text-white">Activities</a>
                |
                <a href="#researching" class="text-white">Researching</a>
                |
                <a href="#courses" class="text-white">Courses</a>
                |
                <a href="#contact" class="text-white">Contact</a>
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="slide" id="intro">
            <div class="row">
                <div class="col-md-6 slide-title">
                    <div class="m-1">
                        <h3 class="itext">Introduction!</h3>
                        <p class="access">
                            <a href="#home" class="itext">Home</a>
                            |
                            <a href="#intro" class="itext">Introduction</a>
                            |
                            <a href="#skills" class="itext">Skills</a>
                            |
                            <a href="#activities" class="itext">Activities</a>
                            |
                            <a href="#researching" class="itext">Researching</a>
                            |
                            <a href="#courses" class="itext">Courses</a>
                            |
                            <a href="#contact" class="itext">Contact</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 slide-content">
                    <div class="m-1 w-100 itext">
                        <div class="me">
                            <h1>Hi, I am Amirhossin.</h1>
                            <p>Software Developer talented at translating customer requirements into testable engineering plans. Maintains exceptional development quality from conception through distribution. Works alongside clients and colleagues through all stages of development to produce exceptional final products.</p>
                        </div>
                        <ul>
                            <li>Name: Amirhossein Mohammadi</li>
                            <li>Born: Nov 20, 2003 | <span class="age"></span></li>
                            <li>Gender: Male</li>
                            <li>Location: Turkey, Izmir</li>
                            <li>Phone: +989014784362</li>
                            <li>Email: amirhossrinmohammadi1380 [at] yahoo.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="skills">
            <div class="row">
                <div class="col-md-6 slide-title">
                    <div class="m-1">
                        <h3 class="itext">I have some skills in some techs.</h3>
                        <p class="access">
                            <a href="#home" class="itext">Home</a>
                            |
                            <a href="#intro" class="itext">Introduction</a>
                            |
                            <a href="#skills" class="itext">Skills</a>
                            |
                            <a href="#activities" class="itext">Activities</a>
                            |
                            <a href="#researching" class="itext">Researching</a>
                            |
                            <a href="#courses" class="itext">Courses</a>
                            |
                            <a href="#contact" class="itext">Contact</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 slide-content">
                    <div class="m-1 w-100">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><img src="https://img.icons8.com/fluency/80/000000/laravel.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/react-native.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/flutter.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/nodejs.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="https://img.icons8.com/color/80/000000/php.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/javascript--v1.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/python.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/dart.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="https://img.icons8.com/color/80/000000/git.png"/></td>
                                    <td><img src="https://img.icons8.com/material-outlined/80/000000/github.png"/></td>
                                    <td><img src="https://img.icons8.com/plasticine/80/000000/bash.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/linux.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="https://img.icons8.com/color/80/000000/maria-db.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/postgresql.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/mongodb.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/firebase.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="https://img.icons8.com/color/80/000000/wordpress.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/heroku.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/old-vmware-logo.png"/></td>
                                    <td><img src="https://img.icons8.com/color/80/000000/cloud.png"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide class" id="activities">
            <div class="row">
                <div class="col-md-6 slide-title">
                    <div class="m-1">
                        <h3 class="itext">Fields of activity</h3>
                        <p class="access">
                            <a href="#home" class="itext">Home</a>
                            |
                            <a href="#intro" class="itext">Introduction</a>
                            |
                            <a href="#skills" class="itext">Skills</a>
                            |
                            <a href="#activities" class="itext">Activities</a>
                            |
                            <a href="#researching" class="itext">Researching</a>
                            |
                            <a href="#courses" class="itext">Courses</a>
                            |
                            <a href="#contact" class="itext">Contact</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 slide-content">
                    <div class="m-1 w-100">
                        <ul>
                            <li>
                                Mobile development in both Android and iOS platforms
                            </li>
                            <li>
                                Web development in both Server and Client side
                            </li>
                            <li>
                                React front-end development
                            </li>
                            <li>
                                Laravel back-end development
                            </li>
                            <li>
                                Launch web project on the bed of Docker
                            </li>
                            <li>
                                Launch web project on the bed of Apache and LiteSpeed
                            </li>
                            <li>
                                Launch and create WordPress sites
                            </li>
                            <li>
                                Design and using APIs
                            </li>
                            <li>
                                Laving knowledge of managing project in Git and Github
                            </li>
                            <li>
                                Launching Microsoft and Linux services
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="researching">
            <div class="row">
                <div class="col-md-6 slide-title">
                    <div class="m-1">
                        <h3 class="itext">Favorite researching fields</h3>
                        <p class="access">
                            <a href="#home" class="itext">Home</a>
                            |
                            <a href="#intro" class="itext">Introduction</a>
                            |
                            <a href="#skills" class="itext">Skills</a>
                            |
                            <a href="#activities" class="itext">Activities</a>
                            |
                            <a href="#researching" class="itext">Researching</a>
                            |
                            <a href="#courses" class="itext">Courses</a>
                            |
                            <a href="#contact" class="itext">Contact</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 slide-content">
                    <div class="m-1 w-100">
                        <ul>
                            <li>Cloud Computing</li>
                            <li>Fog Computing</li>
                            <li>Virtualization</li>
                            <li>IoT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="courses">
            <div class="row">
                <div class="col-md-6 slide-title">
                    <div class="m-1">
                        <h3 class="itext">Passed courses</h3>
                        <p class="access">
                            <a href="#home" class="itext">Home</a>
                            |
                            <a href="#intro" class="itext">Introduction</a>
                            |
                            <a href="#skills" class="itext">Skills</a>
                            |
                            <a href="#activities" class="itext">Activities</a>
                            |
                            <a href="#researching" class="itext">Researching</a>
                            |
                            <a href="#courses" class="itext">Courses</a>
                            |
                            <a href="#contact" class="itext">Contact</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 slide-content">
                    <div class="m-1 w-100">
                        <ul>
                            <li>
                                Mobile development with Flutter
                                <small class="float-end">
                                    2019
                                </small>
                            </li>
                            <li>
                                Integration Firebase with Flutter as Back-End
                                <small class="float-end">
                                    2019
                                </small>
                            </li>
                            <li>
                                ReactJs library for user interface development
                                <small class="float-end">
                                    2020
                                </small>
                            </li>
                            <li>
                                Laravel framework for back end development
                                <small class="float-end">
                                    2020
                                </small>
                            </li>
                            <li>
                                Programming with Python full cource
                                <small class="float-end">
                                    2018
                                </small>
                            </li>
                            <li>
                                Web development with Php full cource
                                <small class="float-end">
                                    2017
                                </small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000080" fill-opacity="1" d="M0,128L48,133.3C96,139,192,149,288,128C384,107,480,53,576,74.7C672,96,768,192,864,208C960,224,1056,160,1152,144C1248,128,1344,160,1392,176L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div class="slide footer" id="contact">
        <div class="row">
            <div class="col-md-4">
                <div class="m-3">
                    <b>Webpage</b>
                    <hr>
                    <p>
                        <a href="https://github.com/BlackIQ/amirhossein.info" class="text-decoration-none text-white">
                            <i class="fa fa-github"></i>
                            Page source in Github
                        </a>
                    </p>
                    <br/>
                    <p>
                        May the force be with you.
                        <span class="text-decoration-none float-end">
                            <span class="download"></span>
                            |
                            <small id="years"></small>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-3">
                    <b>Contact</b>
                    <hr>
                    <i class="fa fa-envelope"></i> amirhosseinmohammadi1380@yahoo.com
                    <br>
                    <i class="fa fa-mobile"></i> <span class="text-white">+98 901 4784 362</span>
                    <br>
                    <br>
                    <a href="https://github.com/BlackIQ" class="text-decoration-none text-white">
                        <i class="fa fa-github"></i>
                    </a>
                    &nbsp;
                    <a href="https://www.linkedin.com/in/amirhosseinmohammadi" class="text-decoration-none text-white">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    &nbsp;
                    <a href="https://gnu-amir.medium.com" class="text-decoration-none text-white">
                        <i class="fa fa-medium"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-3">
                    <b>Send a message</b>
                    <hr>
                    <form action="/send" method="post">
                        <input class="form-control iput" placeholder="Name" type="text" id="name" name="name" required />
                        <br/>
                        <input class="form-control iput" placeholder="Title" type="text" id="title" name="title" required />
                        <br/>
                        <input class="form-control iput" placeholder="Email" type="email" id="email" name="email" required />
                        <br/>
                        <textarea class="form-control iput" placeholder="Message" id="message" name="message" rows="5" required></textarea>
                        <br/>
                        <button type="submit" class="btn btn-white w-100">Send it</button>
                    </form>
                </div>
            </div>
            <span class="access">
                <a href="#home" class="text-white">Home</a>
                |
                <a href="#intro" class="text-white">Introduction</a>
                |
                <a href="#skills" class="text-white">Skills</a>
                |
                <a href="#activities" class="text-white">Activities</a>
                |
                <a href="#researching" class="text-white">Researching</a>
                |
                <a href="#courses" class="text-white">Courses</a>
                |
                <a href="#contact" class="text-white">Contact</a>
            </span>
        </div>        
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>