<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amirhossein Mohammadi</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css" />
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NSPH53B9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D1NSPH53B9');
    </script>
    
</head>
<body class="container-fluid">
    <!-- <div class="slide intro text-center" id="intro">
        <div>
            <h1>hello!</h1>
            <!-- <p>I'm Amir. Software developer.</p> -->
            <p class="download"></p>
        </div>
    </div>
    <div class="slide oskills text-center" id="oskills">
        <div class="row">
            <div class="col-md-6 skills-title">
                <div class="m-1">
                    <h1>More!</h1>
                </div>
            </div>
            <div class="col-md-6 skills-text">
                <div class="m-1 w-100">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td><img src="https://img.icons8.com/fluency/80/000000/laravel.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/react-native.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/flutter.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/nodejs.png"/></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/color/80/000000/php.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/javascript--v1.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/python.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/dart.png"/></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/color/80/000000/git.png"/></td>
                                <td><img src="https://img.icons8.com/material-outlined/80/000000/github.png"/></td>
                                <td><img src="https://img.icons8.com/plasticine/80/000000/bash.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/linux.png"/></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/color/80/000000/maria-db.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/postgresql.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/mongodb.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/firebase.png"/></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/color/80/000000/wordpress.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/heroku.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/old-vmware-logo.png"/></td>
                                <td><img src="https://img.icons8.com/color/80/000000/cloud.png"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="slide atro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>
    <div class="slide btro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/mdb.min.js"></script> -->
</body>
</html>