<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amirhossein Mohammadi</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css" />
</head>
<body>
    <div class="slide intro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>
    <div class="slide outro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>
    <div class="slide xtro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>
    <div class="slide ytro text-center">
        <div>
            <h1>hello!</h1>
            <p>I am Amir</p>
        </div>
    </div>
</body>
</html>